<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img src="assets/contact-us.jpg"></ion-img>
    <ion-card>
        <ion-item>
      
            <ion-icon name="pin"></ion-icon>
            <ion-label>Bhilwara Infotechnology Limited<br>
                #244, Fortune Summit Business Park<br>
                1st Floor, Hosur Road <br>
                Near Silk Board Junction<br>
                Bengaluru, India – 560068.</ion-label>
        </ion-item>
    <ion-item>
      
        <ion-icon name="phone-portrait"></ion-icon>
        <ion-label>9876543210</ion-label>
    </ion-item>
    <ion-item>
      
        <ion-icon name="mail"></ion-icon>
        <ion-label>bhilwara@infotech.com</ion-label>
    </ion-item>
  
  </ion-card>
</ion-content>
