<ion-header>
  <ion-toolbar>
    <ion-title>
     <h1>About Us</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card> 
   <ion-card-title><h4>Profile</h4></ion-card-title>
<ion-card-content>Bhilwara Infotechnology Limited (BIL) is a part of the LNJ Bhilwara Group, 
which is one of India’s largest business conglomerates with combined annual revenues of 1.5 Billion. 
The LNJ Bhilwara Group has diverse interests in areas such as Power Generation, Graphite Electrodes, 
Sponge Iron and Textiles.</ion-card-content>
 </ion-card>
 <ion-card>
<ion-card-title><h4>Awards</h4></ion-card-title>
<ion-card-content>Established in February 2000.
Foundation laid for the IT group established for LNJ Bhilwara Group in 1995.
ISO 9001:2000 Certified on September 5th 2002.
Processes based on the guidelines of ISO 9001:2000 with CMM Level 5 Integration.
Most employees are IBM/Sun/Microsoft Certified.
</ion-card-content>
</ion-card>

<ion-card>
    <ion-card-title><h4>Our Group</h4></ion-card-title>
  <ion-card-content>BIL is proud to be a part of the LNJ Bhilwara Group. 
    LNJ is a professionally managed corporation that sets examples for each company within the group. 
    With over 25,000 employees worldwide, 
    we are one of the largest employers in India with sales in excess of 1.5 Billion.
  </ion-card-content>
</ion-card>
</ion-content>
