<ion-header>
  <ion-toolbar>
    <ion-title>
     Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-card-title><h3>Project1</h3></ion-card-title>
<ion-card-content>Bhilwara Infotechnology Limited provides the world class staffing solutions. 
  The consultants of forecast and agreed technology, i.e. 
  bench of resources are maintained by the BIL, and a client uses the resources based upon the business. 
  The client/Partner provides a minimum business per year guaranty,
   which becomes due in cases of under utilization.</ion-card-content>
  </ion-card>
</ion-content>
